.founder-card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 25px;
    margin: 25px 0px;
    max-width: 900px
}

.founder-card > img {
    max-width: 200px;
    border-radius: 50%;
}

@media only screen and (max-width: 800px) {
    .founder-card {
        grid-template-columns: 1fr;
    }
}
    