.layout-grid {
    display: grid;
    grid-template-columns: 1fr 2fr !important;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .layout-grid {
        grid-template-columns: 1fr !important;
    }
}
