@import '../variables';

.inline-heading {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    color: $vds-secondary-2;
}

.small-heading {
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-size: 0.85rem;
    font-weight: 700;
    margin: 0px;
    padding-left: 6px;
}

.icon {
    vertical-align: bottom;
    font-size: 1.25rem;
}
