@import '../variables';

.nav-button {
    border-radius: 25px;
    padding: 5px 20px;
    width: fit-content;
    margin: 0px;
    border: 0px;
}

.nav-button:not(:last-of-type) {
    margin-right: 5px;
}

.team-toggle-btns {
    display: inline-flex;
    background-color: darken($vds-secondary-2, 10);
    border-radius: 25px;
}

.nav-button:hover {
    background-color: lighten($vds-secondary-2, 2);
}